<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #banner{
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    </style>
    <title>Home portal</title>

</head>
<body>
    {{% include }}
    <h1>Welcome to Sweet Home</h1>
    <img id="banner" src="../static/banner.jpg" alt="sweets_image_in_a_box">
    <h2>About Sweet Home</h2>
    <p>
        A delightful sweet shop specializes in crafting a wide variety of traditional Indian sweets, 
        ensuring each treat is made with authentic methods and ingredients. 
        This dedication to authenticity brings the rich flavors and cultural heritage of Indian sweets to life, 
        offering customers a genuine taste of India with every bite
    </p>
    <p>TODO-Menu Items</p>
    
    

</body>
</html>